<div class="container mt-5">
  <h2 class="text-center">Chat</h2>
  <div class="chat-container">
    <div class="chat-messages">
      <!-- Display received and sent messages here -->
      <div *ngFor="let message of messages" class="message-container">
        <div class="message" [ngClass]="{'sent': message.messageFrom === 'yourSenderId', 'received': message.messageFrom !== 'yourSenderId' }">
          {{ message.message }}
        </div>
      </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
      <div class="form-group">
        <textarea id="message" formControlName="message" placeholder="Type your message..." required class="form-control"></textarea>
      </div>
      <button type="submit" class="btn custom-btn rounded-pill btn-block">Send</button>
    </form>
  </div>
</div>
