<div class="container-fluid">
    <div class="container my-3">
        <div class="d-flex justify-content-center align-items-center">
            <div style="margin: 0px 5px 0px 0px;">
                <div
                    class="rounded h-100 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>Job Searching</p>
                </div>
                <div
                    class="rounded h-100 mt-2 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-file"></i>
                    <p>Resume Building</p>
                </div>
            </div>
            <div style="margin: 70px 5px 0px 5px;">
                <div class="rounded h-100 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-suitcase"></i>
                    <p>Job Posting</p>
                </div>
                <div class="rounded h-100 mt-2 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-users"></i>
                    <p>Sponser jobs</p>
                </div>
            </div>
            <div style="margin: 0px 5px 0px 5px;">
                <div class="rounded h-100 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-chart-simple"></i>
                    <p>Analytics</p>
                </div>
                <div class="rounded h-100 mt-2 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-comment"></i>
                    <p>Company Reviews</p>
                </div>
            </div>
            <div style="margin: 70px 0px 0px 5px;">
                <div class="rounded h-100 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-bell"></i>
                    <p>Job Alerts</p>
                </div>
                <div class="rounded h-100 mt-2 shadow d-flex justify-content-center align-items-center flex-column hovercard">
                    <i class="fa-solid fa-video"></i>
                    <p>Online Interviews</p>
                </div>
            </div>
        </div>
    </div>
</div>