<div class="jumbotron jumbotron-fluid text-center d-flex align-items-center justify-content-center flex-column"
    style="background: url('https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/ABOUT-US.jpg') no-repeat center center; background-size: cover; color: black; padding: 150px 0;">
    <div>
        <p style="font-size: 6rem; color: white;">Welcome to Our Website</p>
    </div>
    <div class="mt-2">
        <p class="lead" style="font-size: 3rem; color: white; margin-top: 5%;">Feuling Carrers, Building Futures.</p>
    </div>

</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/Turning-Dream-into-Reality.jpg?raw=true" class="card-img-top" alt="Turning Dream into Reality">
                <div class="card-body">
                    <h1 class="card-title">Turning Dream into Reality</h1>
                    <h3 class="card-text">We're here to make your career aspirations a reality. Connecting you to
                        renowned companies.</h3>
                    <p>At JOB4JOBLESS, we are dedicated to transforming your career aspirations into tangible
                        achievements. Our platform serves as the bridge between your dreams and reality, providing the
                        tools, opportunities, and resources you need to take that crucial step forward. Your dream job
                        is within reach, and we're here to help you make it a reality.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Connecting-Perfect-Matches%20(1).jpg" class="card-img-top"
                    alt="Connecting Perfect Matches">
                <div class="card-body">
                    <h1 class="card-title">Connecting Perfect Matches</h1>
                    <h3 class="card-text">We're dedicated to helping job seekers and employers find the perfect match.
                    </h3>
                    <p>At Job 4 Jobless, our aim is to bridge the gap between job seekers and employers seamlessly.
                        We're dedicated to pairing the right talent with the perfect job opportunities. Our platform
                        facilitates these connections, ensuring that job seekers and employers find their ideal match
                        for a brighter future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Seamless-Experience.jpg" class="card-img-top" alt="Seamless Experience">
                <div class="card-body">
                    <h1 class="card-title">Seamless Experience</h1>
                    <h3 class="card-text">Our platform offers a seamless experience for all your career needs.</h3>
                    <p>We prioritize user-friendly design and intuitive navigation. JOB4JOBLESS offers a seamless
                        experience, making your job search effortless. Our platform's smooth flow ensures that whether
                        you're browsing job listings, applying, or connecting with employers, your journey is
                        hassle-free. Your path to career success is built on a foundation of simplicity and efficiency.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Expertise-%26-Experience.jpg" class="card-img-top" alt="Expertise & Experience">
                <div class="card-body">
                    <h1 class="card-title">Expertise & Experience</h1>
                    <h3 class="card-text">With years of experience, we've connected countless professionals to their
                        dream jobs.</h3>
                    <p>Our platform values both the expertise of seasoned professionals and the fresh energy of
                        newcomers. We celebrate the diversity of skills and experiences, fostering a vibrant community
                        where everyone's unique talents are recognized and appreciated. Whether you're a seasoned pro or
                        just starting your career, JOB4JOBLESS is your partner on your journey to success.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center mb-4 mt-4" style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Our Clients
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-03-min%20(1).png" class="card-img-top" alt="Client 1">
                <!-- <h4><b>Emily R</b></h4>
                <p class="testimonial hidden">"This platform changed my life! I effortlessly found my dream job, and I couldn't be happier. The intuitive interface and personalized job recommendations made my job search easy. Thank you for making it possible." - Emily R.</p> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-01-min.png" class="card-img-top" alt="Client 2">
                <!-- <h4><b>John M.</b></h4>
                <p class="testimonial hidden">"Navigating this platform was very simple, and I applied to multiple jobs with ease. The user experience is top-notch, and it saved me so much time. I even received interview requests within a few days of applying!"</p> -->
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-02-min.png" class="card-img-top" alt="Client 3">
                <!-- <h4><b>Sarah T</b></h4>
                <p class="testimonial hidden">"The career resources provided on this platform are a goldmine for professional development. I've learned invaluable skills and advanced my career significantly. The articles and tools available have been instrumental in my success. Thank you for this incredible resource!" - Sarah T.</p> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testim-01.jpg" class="card-img-top" alt="Client 3">
                <!-- <h4><b>Sarah T</b></h4>
                <p class="testimonial hidden">"The career resources provided on this platform are a goldmine for professional development. I've learned invaluable skills and advanced my career significantly. The articles and tools available have been instrumental in my success. Thank you for this incredible resource!" - Sarah T.</p> -->
            </div>
        </div>

    </div>
</div>


<app-footer></app-footer>