.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-info {
    margin: 0 20px;
    font-size: 18px;
  }
  .custom-box {
    transition: box-shadow 0.3s ease, cursor 0.3s ease;
}

.custom-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
