<div class="container">
  <h2>Update User Profile</h2>
  <!-- <div>
    <p>Username: {{ abc }}</p>
  </div> -->

  <form [formGroup]="userform" (ngSubmit)="updateUser()">
    <input type="hidden" formControlName="userName" [value]="abc" />

    <div class="form-group">
      <label for="empfname">First Name*</label>
      <input type="text" id="empfname" formControlName="userFirstName" class="form-control" required>
      <div *ngIf="userform.get('userFirstName')?.hasError('required') && userform.get('userFirstName')?.touched"
        class="text-danger">First Name is required.
      </div>
      <div *ngIf="userform.get('userFirstName')?.hasError('pattern') && userform.get('userFirstName')?.touched"
        class="text-danger">Invalid Name.
      </div>
    </div>
    <div class="form-group">
      <label for="emplname">Last Name*</label>
      <input type="text" id="emplname" formControlName="userLastName" class="form-control" required>
      <div *ngIf="userform.get('userLastName')?.hasError('required') && userform.get('userLastName')?.touched"
        class="text-danger">Last Name is required.
      </div>
      <div *ngIf="userform.get('userLastName')?.hasError('pattern') && userform.get('userLastName')?.touched"
        class="text-danger">Invalid Name.
      </div>
    </div>
    <div class="form-group">
      <label for="empcompany">Company*</label>
      <input type="text" id="empcompany" formControlName="companyuser" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="empphone">Phone*</label>
      <!-- <input type="tel" id="empphone" formControlName="userphone" class="form-control" required> -->
      <input type="tel" id="empphone" class="form-control" formControlName="userphone" placeholder="Enter Phone"
        required>
      <div *ngIf="userform.get('userphone')?.hasError('required') && userform.get('userphone')?.touched"
        class="text-danger">Phone number is required.
      </div>
      <div *ngIf="userform.get('userphone')?.hasError('pattern') && userform.get('userphone')?.touched"
        class="text-danger">Please enter a valid phone number with 10 digits.
      </div>
    </div>
    <div class="form-group">
      <label for="empcountry">Country*</label>
      <select id="empcountry" formControlName="usercountry" class="form-control" required>
        <option value="">Select your country</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>
      <div *ngIf="userform.get('usercountry')?.hasError('required') && userform.get('usercountry')?.touched"
        class="text-danger">Country is required.
      </div>
    </div>
    <div *ngIf="userform.get('usercountry')?.hasError('required') && userform.get('usercountry')?.touched"
      class="text-danger">
      Country is required.
    </div>
    <div class="form-group">
      <label for="empstate">State*</label>
      <input type="text" id="empstate" formControlName="userstate" class="form-control" required>
      <div *ngIf="userform.get('userstate')?.hasError('required') && userform.get('userstate')?.touched"
        class="text-danger">State is required.
      </div>
      <div *ngIf="userform.get('userstate')?.hasError('pattern') && userform.get('userstate')?.touched"
        class="text-danger">Invalid State.
      </div>
    </div>
    <div class="form-group">
      <label for="empcity">City*</label>
      <input type="text" id="empcity" formControlName="usercity" class="form-control" required>
      <div *ngIf="userform.get('usercity')?.hasError('required') && userform.get('usercity')?.touched"
        class="text-danger">State is required.
      </div>
      <div *ngIf="userform.get('usercity')?.hasError('pattern') && userform.get('usercity')?.touched"
        class="text-danger">Invalid State.
      </div>
    </div>
    <div class="form-group">
      <label for="websiteuser">Website*</label>
      <input type="text" id="websiteuser" formControlName="websiteuser" class="form-control" required>
    </div>
    <button type="submit" class="btn custom-btn mt-3 rounded-pill">Save Profile</button>
  </form>
</div>