<div class="container mt-5">
    <div class="row">
        <!-- Content Column with Animation -->
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
            <div>
                <p class="text-center fs-4 custom-p"><b>Get access to 64k+ jobs on the job4jobless app</b></p>
                <p class="text-center custom-p-normal">Get real-time job updates & new job notifications!</p>
                <p class="text-center custom-p-normal">Scan to download</p>
            </div>
            <img src="assets/qrcode.png" class="img-fluid" alt="">
        </div>
        <!-- Image Column with Background Color and Padding -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <!-- <img src="assets/job4jobless-app.png" alt="Download QR Code" > -->
            <img src="assets/job4jobless-app-01.png" class="img-fluid" alt="">
        </div>
    </div>
</div>