<div class="container" style="margin-top: 30px;">
  <h1>Find great places to work</h1>
</div>

<div class="container">
  <h3>Get access to millions of company reviews</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <form (ngSubmit)="searchCompanies()">
        <div class="form-group">
          <label for="cnoj">Company name or job title</label>
          <input type="text" id="cnoj" name="cnoj" placeholder="Search Companies" class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" [(ngModel)]="searchTerm">

        </div>
      </form>
    </div>
    <div class="col-md-2" style="margin-top: 20px;">
      <button type="button" class="btn custom-btn rounded-pill px-4 py-3 shadow-lg mx-1 findjobbtn" (click)="searchCompanies()">Find Companies</button>
    </div>
    
  </div>                                  
</div>



<div class="container" style="margin-top: 20px; margin-bottom: 10px;">
  <h3 class="mb-3" style="font-size: 2.5rem; color: black;">Popular companies</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-4" *ngFor="let job of filteredCompanies">
      <div class="card card-hover">
        <img src="assets/Job4jobless & Hustleforwork-01.png" class="card-img-top" alt="Company Logo">
        <div class="card-body">
          <h4 class="card-title">{{ job.jobtitle }}</h4>
          <p class="card-text">{{ job.companyforthisjob }}</p>
          <div class="ratings">
            <!-- Your rating stars here -->
          </div>
          <div class="row">
            <div class="col-6">
              <!-- <a href="#" class="btn-anchor">Questions</a> -->
            </div>
            <div class="col-6">
              <a routerLink="/dashboarduser" class="btn-anchor">Open jobs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-md-6">
        <div class="pagination d-flex justify-content-center align-items-center">
          <button class="btn custom-pills rounded-circle mx-2" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            <i class="fas fa-chevron-left"></i>
          </button>
          <span class="page-info mx-2">{{ currentPage }} / {{ totalPages }}</span>
          <button class="btn custom-pills rounded-circle mx-2" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



