<div class="container-fluid mr-3">
  <div class="row justify-content-center" style="margin: 1%;">
    <div class="col-lg-10">
      <div class="text-center" >
        <h4>SEEKERS DETAILS</h4>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr style="background-color: rgb(143, 236, 143);">
                <th>Name</th>
                <th>Phone</th>
                <th>Email ID</th>
                <th>Notification</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)" style="background-color: rgb(216, 252, 216);">
                <td>{{ user.userFirstName }} {{ user.userLastName }}</td>
                <td><a href="tel:{{ user.userphone }}">{{ user.userphone }}</a></td>
                <td><a href="mailto:{{ user.userName }}">{{ user.userName }}</a></td>
                <td>
                  <button class="btn custom-btn rounded-pill" (click)="sendNotification(user.uid)">Send
                    Notification</button>
                </td>
                <td>
                  <button type="button" class="btn" style="background-color: #1e2e5c; color: white;">Info</button>
                  &nbsp;<button type="button" class="btn btn-secondary" (click)="toggleUserActivation(user.uid)">
                    {{ user.accdeactivate ? 'Activate' : 'Deactivate' }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button *ngIf=" currentPage!==1" class="previous-button" (click)="loadPreviousPage()">< Previous</button>
        <button *ngIf="currentPage * itemsPerPage < data.length" class="load-more-button" (click)="loadNextPage()">Next ></button>
        </div>
      </div>
    </div>
  </div>
</div>